/* Estilos generales */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body {
  font-size: 1.6rem;
  overflow-x: hidden;
  color: #ffffff; /* Cambio de color de texto a blanco */
  background-color: #000000; /* Cambio de color de fondo a negro */
}

/* Header */
.header {
  background-color: #fffffe;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 100%;
  padding: 5px 10%;
}

.header .logo {
  cursor: pointer;
  margin-right: auto;
}

.header .logo img {
  height: 60px;
  width: auto;
  transition: all 0.3s;
}

.header .logo img:hover {
  transform: scale(1.1);
}

.header .linksnav {
  list-style: none;
}

.header .linksnav li {
  display: inline-block;
  padding: 0 20px;
}

.header .linksnav li:hover {
  transform: scale(1.1);
}

.header .linksnav a {
  font-size: 20px;
  color: #eceff1;
  text-decoration: dashed;
}

.header .linksnav li a:hover {
  color: #ffc403;
}

.nombre-cliente {
  font-size: 16px;
  font-weight: bold;
  color: white; /* Cambia el color del texto a blanco */
  margin-right: 5px; /* Ajusta el margen derecho según sea necesario */
  margin-top: 0px; /* Ajusta el margen superior según sea necesario */
}

/* Carrusel */
.carrusel {
  width: auto;
  height: auto;
  margin-right: none;
  overflow: hidden;
}

.carrusel ul {
  display: flex;
  padding: 0;
  width: 400%;
  animation: slide 20s infinite alternate ease-in-out;
}

.carrusel li {
  width: 50%;
  list-style: none;
}

.carrusel img {
  width: 100%;
}

@keyframes slide {
  0% {
      margin-left: 0;
  }
  20% {
      margin-left: 0;
  }
  25% {
      margin-left: -100%;
  }
  45% {
      margin-left: -100%;
  }
  50% {
      margin-left: -200%;
  }
  70% {
      margin-left: -200%;
  }
  75% {
      margin-left: -300%;
  }
  100% {
      margin-left: -300%;
  }
}

/* Estilos para la sección */
.contenedor-nosotros {
  padding-top: 5rem;
  color: black; /* Cambio el color de texto a negro */
  text-align: center; /* Alineación de texto centrada */
  background-color: white; /* Cambio el color de fondo a blanco */
  margin: 0 auto; /* Centrar el contenedor */
  max-width: 1200px; /* Ancho máximo del contenedor */
}

.texto-nosotros {
  max-width: 800px;
  margin: 0 auto; /* Centrar el contenido */
}

.texto-nosotros h1 {
  font-size: 5rem;
  text-align: center;
}

.texto-nosotros p {
  font-size: 2rem;
}

.btn {
  display: inline-block;
  margin: 1rem auto;
  padding: 10px 20px;
  background-color: #000000; /* Fondo negro del botón */
  color: #ffffff; /* Color del texto del botón */
  font-size: 1.6rem;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s, color 0.3s; /* Transición suave para el color de fondo y texto */
}

.btn:hover {
  background-color: #ff9900; /* Fondo naranja al pasar el mouse */
  color: #ffffff; /* Color del texto al pasar el mouse */
}

/* Estilos adicionales para centrar el botón */
.texto-nosotros {
  text-align: center; /* Alineación centrada */
}

.texto-nosotros .btn {
  margin: 1rem auto; /* Centrar el botón */
}

/* Estilos para el pie de página */
.footer {
  text-align: center;
  background-color: #000000; /* Color de fondo del pie de página */
  color: white; /* Texto blanco */
  padding: 2rem;
  font-size: 2rem;
}
